.base-button {
  cursor: pointer;
  background-color: (var());
}

.clear {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  border: none;
}

.outline {
  width: 100px;
  cursor: pointer;
  border: 3px solid;
  border-radius: 1em;
  font-weight: 200;
  line-height: 1;
}

.base-button--primary {
  background-color: #555ab9;
  color: white;
}

.base-button--secondary {
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  background-color: transparent;
  color: #333;
}

.base-button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.base-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.base-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
