.sidebar {
  width: var(--sidebar-width);
  background-color: var(--bg-color);
  height: calc(100vh - var(--main-navbar-height));
  transition: width 0.9s ease-in-out;
  position: relative;
  text-align: left;
}

.collapse-btn {
  position: absolute;
  right: -42px;
  bottom: 32px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    gap: 5px;
  }
}

