.app.dark {
  --bg-color: #1F1B24;
  --inverted-bg-color: #e8e8ea;
  --primary-color: white;
  --secondary-color: #BB66FC;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}